.NewItems {
  /* height: 85vh; */

  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.newCollection {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}


.New {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.New hr {
  width: 100px;
  height: 4px;
  background-color: black;
}

@media (max-width:880px) {
.newCollection {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
}